<!DOCTYPE html>
<html lang="en">

<head>
  <title>Messages</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/messageList.js"></script>
</head>

<body>
  <%- include('partials/_nav') %>
  <%- include('partials/_side-nav') %>

  <!-- Page content -->
  <main class="container" id="messages-container">
    <section id="messages-list">
      <%for(let chain of messages) { %>


    <article class="message-summary" data-id="<%=chain.id%>" data-other="<%=chain.otherUsername%>" data-uid="<%=chain.otherUserID%>" data-title="<%=chain.title%>">
        <a class="chain-title"><%=chain.title%></a>
        <img src="/resources/pokeball-icon.png" />
        <a class="other-username"><%=chain.otherUsername%></a>
        <img src="/resources/pokeball-icon.png" />
        <% if(chain.total_messages_exchanged > 1){ %>
          <a class="message-count"><%=chain.total_messages_exchanged%> messages</a>
          <% } else { %>
            <a class="message-count"><%=chain.total_messages_exchanged%> message</a>
            <% } %>
        </article>
      <% } %>
    </section>
    <section id="message-chain">
      Select a conversation
    </section>
  </main>
</body>

</html>
